@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif;
    height: 100vh;
    
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 29px 38px;
    font-weight: 300;
   
  
}
hr{
    border-width: 2px;
}
.rightHeader{
    display: flex;
    gap: 30px;
}
li{
    list-style: none;
    font-size: 24px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
   
   
}
input{
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-bottom:1px solid #FFFFFF;
    padding: 10px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    outline: none;
    color: rgba(255, 255, 255, 1);
}
.signup{
    font-weight: 400;
    font-size: 64px;
    margin-bottom: 30px;
}
.formDetails{
    margin: 50px 300px;
 
}
.error{
    color:rgba(255, 79, 79, 1);
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
    display: none;
    
}
.successfull{
    color: #7ECD71;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 5px;
    display: none;
}
button{
    font-size: 24px;
    font-weight: 300;
    padding: 12px 60px;
    margin-top: 30px;
}
.profilePage li{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 50px;
}
.profilePage{
    margin: 50px 100px;
    display: none;
}
.entry{
    display: flex;
    gap: 80px;
}